<div class="page-header">
  <div class="container">
    <h4 class="page-title">Title of Movies</h4>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">List</a></li>
        <li class="breadcrumb-item active" aria-current="page">Movie</li>
      </ol>
    </nav>
  </div>
</div>

<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="movie-player">
          Movie player
        </div>
      </div>
      <div class="col-md-4">
        <h4>Title of Movie</h4>
        <h6 class="text-muted">
          <span>152 Minutes | </span>
          <span>Action, Crime | </span>
          <span>April 17, 1991</span>
        </h6>
        <h6 class="text-muted"><img src="/node_modules/bootstrap-icons/icons/star.svg" alt="" width="32" height="32" title="Star"> 7.6 / 10</h6>
        <div class="card" style="margin-top: 20px">
          <div class="card-body">
            <h5 class="card-title">Details</h5>
            <ul class="details-list">
              <li>Release date: <span class="text-muted">15 Jul 2016</span></li>
              <li>Director: <span class="text-muted">Mel Gibson</span></li>
              <li>Imdb Rating: <span class="text-muted">8.9</span></li>
              <li>Country: <span class="text-muted">USA</span></li>
              <li>Language: <span class="text-muted">English</span></li>
              <li>Production Co:</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="storyline">
          <h5>Storyline</h5>
          <p class="text-muted">
            In a small town where everyone knows everyone, a peculiar incident starts a chain of events that leads to the disappearance of a child – which begins to tear at the fabric of an otherwise peaceful community. Dark government agencies and seemingly malevolent supernatural forces converge on the town while a few locals begin to understand that there’s more going on than meets the eye.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
